html, body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url('https://i.imgur.com/Zrq0vtb.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Cabin';
}

.main {
  position: relative;
  top: 25px;
  text-align: left;
}

.main h1 {
  color: white;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  text-shadow: 4px 2px 10px #000000;
}
